<div class="section">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="usuIdentificacion" type="number" class="validate">
                    <label for="usuIdentificacion">Identificacion</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="usuNombres" type="text" class="validate">
                    <label for="usuNombres">Nombres</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="usuTelefono" type="number" class="validate">
                    <label for="usuTelefono">Telefono</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="usuCorreo" type="email" class="validate">
                    <label for="usuCorreo">Correo</label>
                </div>
            </div>
            <div>
                <div class="input-field col s12">
                    <div class="switch">
                        <label>
                          Femenino
                          <input type="checkbox" name="genero" id='genero'>
                          <span class="lever"></span>
                          Masculino
                        </label>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a class="waves-effect waves-light btn-small"><i class="material-icons right">cloud</i>Avatar</a>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>