<div class="navbar-fixed">
    <nav class="purple darken-4" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Booking</a>
            <!-- Drop downs submenus -->
            <ul id="dropdown1" class="dropdown-content grey darken-1 ">
                <li><a href="#!" class="grey-text text-lighten-3">one</a></li>
                <li><a href="#!" class="grey-text text-lighten-3">two</a></li>
                <li class="divider"></li>
                <li><a href="#!" class="grey-text text-lighten-3">three</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="?p=home">Home</a></li>
                <li><a href="?p=register">Registro</a></li>
                <li><a href="?p=login">Login</a></li>
                <li><a href="?p=registroRol">Nuevo Rol</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>

<ul id="nav-mobile" class="sidenav grey darken-4">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="images/office.jpg">
            </div>
            <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
    </li>
    <li><a href="#!" class="grey-text text-lighten-4">
            <i class="material-icons grey-text text-lighten-4">cloud</i>First Link With Icon</a>
    </li>
    <li><a href="#!" class="grey-text text-lighten-4">Second Link</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader grey-text text-lighten-4">Subheader</a></li>
    <li><a class="waves-effect grey-text text-lighten-4" href="?p=home">Home</a></li>
    <li><a class="waves-effect grey-text text-lighten-4" href="?p=register">Registro</a></li>
    <li><a class="waves-effect grey-text text-lighten-4" href="?p=login">Login</a></li>
    <li><a class="waves-effect grey-text text-lighten-4" href="?p=registroRol">Nuevo Rol</a></li>
    <li><a class="waves-effect grey-text text-lighten-4" href="?p=roles">Roles</a></li>
    <li>
        <a class="dropdown-trigger grey-text text-lighten-4" href="#!" data-target="dropdown1">
            Dropdown<i class="material-icons right grey-text text-lighten-4">arrow_drop_down</i>
        </a>
    </li>
</ul>